#seriesone {
    color: white;
    background: #1d3557;
    width: 120px;
    height: 120px;
    padding: 15px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    font-family: titlefont;
    position: absolute;
    top: 35%;
    left: 20%;
    transition: ease-in-out .2s;
}

#seriesonetext {
    color: #ee9b00;
}

#seriesone:hover {
    background: #457b9d;
}

#seriestwo {
    color: white;
    background: #1d3557;
    width: 120px;
    height: 120px;
    padding: 15px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    font-family: titlefont;
    position: absolute;
    top: 35%;
    left: 33.5%;
    transition: ease-in-out .2s;
}

#seriestwotext {
    color: #ee9b00;
}

#seriestwo:hover {
    background: #457b9d;
}

#seriesthree {
    color: white;
    background: #1d3557;
    width: 120px;
    height: 120px;
    padding: 15px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    font-family: titlefont;
    position: absolute;
    top: 35%;
    left: 47%;
    transition: ease-in-out .2s;
}

#seriesthreetext {
    color: #ee9b00;
    font-size: 25px;
}

#seriesthree:hover {
    background: #457b9d;
}

#seriesfour {
    color: white;
    background: #1d3557;
    width: 120px;
    height: 120px;
    padding: 15px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    font-family: titlefont;
    position: absolute;
    top: 35%;
    left: 60%;
    transition: ease-in-out .2s;
}

#seriesfourtext {
    color: #ee9b00;
}

#seriesfour:hover {
    background: #457b9d;
}