body {
    background-color: #eae1e5;
    color: #411423;
}

#titlediv {
    background-color: #c2839c;
    width: 800px;
    height: 100px;
    border-radius: 15px;
    padding: 15px;
    position: absolute;
    left: 20%;
    top: 12%;
}

a {
    text-decoration: none;
}

div::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#title {
    position: absolute;
    top: 15%;
    left: 4%;
    font-family: cozynormalfont;
    font-size: 40px;
    color: #411423;
}

#undertitlemotto {
    position: absolute;
    top: 26%;
    left: 4%;
    font-size: 20px;
    letter-spacing: 4.8px;
    font-family: normalfont;
}

#companysfullname {
    position: absolute;
    top: 60%;
    left: 4%;
    font-family: cozynormalfont;
}

#homeinfos {
    background-color: #c2839c;
    color: #411423;
    font-family: cozynormalfont;
    width: 800px;
    height: 400px;
    padding: 15px;
    border-radius: 15px;
    position: absolute;
    left: 20%;
    top: 30%;
}

#locationquestion {
    position: absolute;
    top: 3%;
    left: 4%;
}

#locationtext {
    color: #411423;
    padding: 15px;
    position: absolute;
    top: 20%;
    left: 4%;
    transition: ease-in-out .2s;
}

#locationtext:hover {
    background-color: #411423;
    color: #c2839c;
    padding: 15px;
    border-radius: 15px;
}

#openschedules {
    width: auto;
    height: 200px;
    padding: 15px;
    border: 2px solid #411423;
    border-radius: 15px;
    position: absolute;
    left: 4%;
    top: 40%;
}